*[data-anima-out] .anima {
    opacity: 0
}

.img-box img {
    -webkit-transition: all .3s, margin-top 1ms, width 1ms, max-width 1ms, margin-left 1ms!important;
    transition: all .3s, margin-top 1ms, width 1ms, max-width 1ms, margin-left 1ms!important;
    outline: 1px solid transparent;
    -webkit-animation: all .3s!important;
            animation: all .3s!important;
    position: relative
}

@-webkit-keyframes rotate-90 {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg)
    }
}

@keyframes rotate-90 {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg)
    }
}

.rotate-90 {
    -webkit-animation: rotate-90 .5s;
            animation: rotate-90 .5s;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1!important
}

@-webkit-keyframes rotate-20 {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg)
    }
}

@keyframes rotate-20 {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg)
    }
}

.rotate-20 {
    -webkit-animation: rotate-20 .5s;
            animation: rotate-20 .5s;
    -webkit-transform: rotate(20deg)!important;
            transform: rotate(20deg)!important;
    opacity: 1!important
}

@-webkit-keyframes scale-up {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2)
    }
}

@keyframes scale-up {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2)
    }
}

.scale-up,
.img-scale-up:hover img {
    -webkit-animation: scale-up .5s;
            animation: scale-up .5s;
    -webkit-transform: scale(1.2)!important;
            transform: scale(1.2)!important;
    opacity: 1
}

@-webkit-keyframes scale-up-2x {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(2);
                transform: scale(2)
    }
}

@keyframes scale-up-2x {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(2);
                transform: scale(2)
    }
}

.scale-up-2x,
.img-scale-up-2x:hover img {
    -webkit-animation: scale-up-2x .5s;
            animation: scale-up-2x .5s;
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 1!important
}

@-webkit-keyframes scale-rotate {
    0% {
        -webkit-transform: scale(1) rotate(0);
                transform: scale(1) rotate(0)
    }
    100% {
        -webkit-transform: scale(1.2) rotate(4deg);
                transform: scale(1.2) rotate(4deg)
    }
}

@keyframes scale-rotate {
    0% {
        -webkit-transform: scale(1) rotate(0);
                transform: scale(1) rotate(0)
    }
    100% {
        -webkit-transform: scale(1.2) rotate(4deg);
                transform: scale(1.2) rotate(4deg)
    }
}

.scale-rotate,
.img-scale-rotate:hover img {
    -webkit-transform: scale(1.2) rotate(4deg);
            transform: scale(1.2) rotate(4deg);
    -webkit-animation: scale-rotate .5s;
            animation: scale-rotate .5s;
    opacity: 1
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

.circular-rotation {
    -webkit-animation: spinAround 2s linear infinite;
            animation: spinAround 2s linear infinite;
    opacity: 1!important
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fade-in {
    -webkit-animation: fadein .5s;
            animation: fadein .5s;
    opacity: 1!important
}

@-webkit-keyframes fadeleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

.fade-left {
    -webkit-animation: fadeleft .5s;
            animation: fadeleft .5s;
    opacity: 1!important
}

@-webkit-keyframes faderight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
                transform: translateX(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
                transform: translateX(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

.fade-right {
    -webkit-animation: faderight .5s;
            animation: faderight .5s;
    opacity: 1!important
}

@-webkit-keyframes fadetop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@keyframes fadetop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

.fade-top {
    -webkit-animation: fadetop .5s;
            animation: fadetop .5s;
    opacity: 1!important
}

@-webkit-keyframes fadebottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@keyframes fadebottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

.fade-bottom {
    -webkit-animation: fadebottom .5s;
            animation: fadebottom .5s;
    opacity: 1!important
}

@-webkit-keyframes show-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@keyframes show-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

.show-scale {
    -webkit-animation: show-scale .5s;
            animation: show-scale .5s;
    opacity: 1!important
}

@-webkit-keyframes fromRightToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate(0);
                transform: translate(0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(100%);
                transform: translate(100%)
    }
    50% {
        -webkit-transform: translate(-100%);
                transform: translate(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
                transform: translate(0)
    }
}

@keyframes fromRightToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate(0);
                transform: translate(0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(100%);
                transform: translate(100%)
    }
    50% {
        -webkit-transform: translate(-100%);
                transform: translate(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
                transform: translate(0)
    }
}

.slide-right-left {
    -webkit-animation: fromRightToLeft .5s forwards;
            animation: fromRightToLeft .5s forwards;
    opacity: 1!important
}

@-webkit-keyframes fromTopToBottom {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%)
    }
    50% {
        -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
}

@keyframes fromTopToBottom {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%)
    }
    50% {
        -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
}

.slide-top-bottom {
    -webkit-animation: fromTopToBottom .5s forwards;
            animation: fromTopToBottom .5s forwards;
    opacity: 1!important
}

@-webkit-keyframes pulse {
    25% {
        opacity: .8;
        -webkit-transform: scale(1.1);
                transform: scale(1.1)
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(.9);
                transform: scale(.9)
    }
}

@keyframes pulse {
    25% {
        opacity: .8;
        -webkit-transform: scale(1.1);
                transform: scale(1.1)
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(.9);
                transform: scale(.9)
    }
}

.pulse,
.pulse-fast,
.img-pulse:hover img,
.img-pulse-fast:hover img {
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 1!important
}

.pulse,
.img-pulse:hover img {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2
}

.pulse-fast,
.img-pulse-fast:hover img {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1
}

@-webkit-keyframes pulse-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px)
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
                transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
                transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

@keyframes pulse-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px)
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
                transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
                transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

.pulse-horizontal,
.img-pulse-horizontal:hover img {
    -webkit-animation-name: pulse-horizontal;
            animation-name: pulse-horizontal;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 1!important
}

@-webkit-keyframes pulse-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px)
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px)
    }
    49.95% {
        -webkit-transform: translateY(4px);
                transform: translateY(4px)
    }
    66.6% {
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px)
    }
    83.25% {
        -webkit-transform: translateY(1px);
                transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@keyframes pulse-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px)
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px)
    }
    49.95% {
        -webkit-transform: translateY(4px);
                transform: translateY(4px)
    }
    66.6% {
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px)
    }
    83.25% {
        -webkit-transform: translateY(1px);
                transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

.pulse-vertical,
.img-pulse-vertical:hover img {
    -webkit-animation-name: pulse-vertical;
            animation-name: pulse-vertical;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 1!important
}

.ganimation-pulse:after,
.ganimation-explode:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: content-box;
            box-sizing: content-box
}

@-webkit-keyframes ganimation-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(2);
                transform: scale(2);
        opacity: 0
    }
}

@keyframes ganimation-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1)
    }
    100% {
        -webkit-transform: scale(2);
                transform: scale(2);
        opacity: 0
    }
}

.ganimation-pulse:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(90, 90, 90, .4);
    -webkit-animation-name: ganimation-pulse;
            animation-name: ganimation-pulse;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
    border-radius: 3px;
    opacity: 0
}

.circle.ganimation-pulse,
.circle.ganimation-explode {
    overflow: visible
}

.circle.ganimation-pulse:after,
.circle.ganimation-explode:after {
    border-radius: 50%;
    overflow: visible
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: .3
    }
    40% {
        opacity: .5;
        -webkit-box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
                box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2)
    }
    100% {
        -webkit-box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
                box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0
    }
}

@keyframes sonarEffect {
    0% {
        opacity: .3
    }
    40% {
        opacity: .5;
        -webkit-box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
                box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2)
    }
    100% {
        -webkit-box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
                box-shadow: 0 0 20px 20px rgba(197, 197, 197, .2);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0
    }
}

.ganimation-explode {
    -webkit-transition: background .2s, -webkit-transform ease-out .1s;
    transition: background .2s, -webkit-transform ease-out .1s;
    transition: transform ease-out .1s, background .2s;
    transition: transform ease-out .1s, background .2s, -webkit-transform ease-out .1s;
    -webkit-transform: scale(.93);
    transform: scale(.93)
}

.ganimation-explode:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    border-radius: 3px;
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: sonarEffect .3s ease-out 75ms;
    animation: sonarEffect .3s ease-out 75ms;
    background-color: rgba(197, 197, 197, .2)
}

@-webkit-keyframes glass {
    0% {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        opacity: 1
    }
}

@keyframes glass {
    0% {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        opacity: 1
    }
}

.ganimation-glass {
    overflow: hidden
}

.ganimation-glass::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(155, 155, 155, .31);
    content: '';
    -webkit-animation-name: glass;
            animation-name: glass;
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    opacity: 0;
    z-index: 1
}

[data-anima] {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

@-webkit-keyframes borderPulse {
    0% {
        -webkit-box-shadow: inset 0 0 0 5px rgba(249, 119, 148, .4), 0 0 0 0 #f97794;
                box-shadow: inset 0 0 0 5px rgba(249, 119, 148, .4), 0 0 0 0 #f97794
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 3px rgba(249, 119, 148, .2), 0 0 0 15px transparent;
                box-shadow: inset 0 0 0 3px rgba(249, 119, 148, .2), 0 0 0 15px transparent
    }
}

@keyframes borderPulse {
    0% {
        -webkit-box-shadow: inset 0 0 0 5px rgba(249, 119, 148, .4), 0 0 0 0 #f97794;
                box-shadow: inset 0 0 0 5px rgba(249, 119, 148, .4), 0 0 0 0 #f97794
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 3px rgba(249, 119, 148, .2), 0 0 0 15px transparent;
                box-shadow: inset 0 0 0 3px rgba(249, 119, 148, .2), 0 0 0 15px transparent
    }
}

.borderPulse:hover {
    -webkit-animation: borderPulse 1000ms ease-out;
            animation: borderPulse 1000ms ease-out
}