/*
Theme Name: LandKit Child
Theme URI: http://socanny.com/landkit/
Author: SoCanny
Author URI: http://www.socanny.com/
Template: landkit
Description: Child Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: landkit
*/

.img-box:before,
.img-box:hover,
img:hover,
img:before {
  background: none !important;
}

.frasedesc {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  font-weight: 100;
}

h2.subfrase {
  color: #12c1b0;
  font-size: 22px !important;
}

.webtatica a {
  color: rgb(18, 193, 176);
}

.textcenter {
  text-align: center;
}

.elotext p {
  font-size: 15px;
  line-height: 20px;
}

/*página de resposta */
.textresposta {
  text-align: center;
  font-size: 17px;
  font-weight: normal !important;
  color: #e1e1e1;
  line-height: 27px;
}

#section_5ZtkF .content {
  padding: 90px 0;
}

h2.h2resposta {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

/* area de docentes varios */
.hc_content_box_cnt {
  height: auto !important;
  margin: 10px 0;
  text-align: center;
}

.docentes .advs-box.boxed-inverse,
.docentes .advs-box.boxed {
  height: 245px;
}

.advs-box.boxed-inverse,
.advs-box.boxed {
  height: 300px;
}

.docentes .alturagrande {
  height: 390px !important;
}

/* final da áre de docentes */
/** docente tamanho grande demais **/
#column_ZyAFh .hc_content_box_cnt {
  height: auto !important;
}

.wrapper-branco {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 35px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 50px 0 rgba(84, 110, 122, 0.15);
}

h1#Gqkdv {
  font-size: 50px;
}

#pjw9l {
  font-size: 25px;
}

.bg-overlay.transparent-dark {
  background-color: rgba(0, 0, 0, 0.74);
}

.box-steps .step-number {
  color: rgb(18, 193, 176);
  opacity: 1;
  font-size: 35px;
}

#wS1TU {
  background-color: #24242499;
  padding: 10px;
}

.btn,
#section_qMKHn .wpcf7-form-control.wpcf7-submit,
#section_5ZtkF .wpcf7-form-control.wpcf7-submit {
  background-color: #12c1b0;
}

.btn:hover,
#section_qMKHn .wpcf7-form-control.wpcf7-submit:hover,
#section_5ZtkF .wpcf7-form-control.wpcf7-submit:hover {
  background-color: #f48536;
}

#y3Wu8 p {
  font-size: 18px;
  font-weight: 100;
  line-height: 35px;
  padding: 0 70px;
}

#Sesqk p {
  color: #dbdbdb;
}

#section_qMKHn .wpcf7-form-control.wpcf7-text,
#section_qMKHn .wpcf7-form-control.wpcf7-textarea,
#section_5ZtkF .wpcf7-form-control.wpcf7-text,
#section_5ZtkF .wpcf7-form-control.wpcf7-textarea {
  width: 100%;
}

#section_qMKHn .wpcf7-form-control.wpcf7-textarea,
#section_5ZtkF .wpcf7-form-control.wpcf7-textarea {
  max-height: 84px;
  padding: 16px;
}

#section_qMKHn .wpcf7-form-control.wpcf7-submit,
#section_5ZtkF .wpcf7-form-control.wpcf7-submit {
  float: right;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#section_qMKHn .wpcf7-form p,
#section_5ZtkF .wpcf7-form p {
  line-height: 46px;
}

#iCDSN,
#a4YPxz {
  text-align: center;
}

.section_vuIjS {
  color: red;
}

footer,
.post-template-default .sidebar-cnt,
.page-template-default .sidebar-cnt,
.footer-parallax-container .comments-cnt,
.footer-parallax-container .footer-parallax-container {
  background: #363636;
}

footer h5,
footer p {
  color: #fff;
}

.home .parallax-mirror img.parallax-slider {
  margin-top: 0;
}

input,
textarea,
#section_5ZtkF .wpcf7-form-control.wpcf7-textarea {
  padding: 10px;
  line-height: 1.5em;
}

@media (max-width: 1190px) {
  .docentes .advs-box.boxed-inverse,
  .docentes .advs-box.boxed {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .docentes .alturagrande {
    height: 460px !important;
  }
  .scroll-css .navbar-header {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    float: none;
  }
  .navbar-brand img {
    max-height: 24px;
    margin-top: 18px !important;
    margin-bottom: 18px !important;
  }
  .hc_content_box_cnt {
    height: auto;
    margin: 10px 0;
    text-align: center;
  }

  .advs-box.boxed-inverse,
  .advs-box.boxed {
    height: auto;
  }
  .docentes .advs-box.boxed-inverse,
  .docentes .advs-box.boxed {
    height: auto;
  }
}

@media (max-width: 400px) {
  .docentes .advs-box.boxed-inverse,
  .docentes .advs-box.boxed {
    height: auto;
  }

  .docentes .alturagrande {
    height: 560px !important;
  }
  .docentes .alturagrande390 {
    height: 370px !important;
  }
  h1#Gqkdv {
    font-size: 30px;
    line-height: 50px;
  }
}

.brand-wrapper {
  color: #fff;
}

footer .container .row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
